<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <div class="row">
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
      <div class="col-lg-4">
        <p>Some text</p>
        <a class="btn" href="#">More</a>
      </div>
    </div>
  </div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
