<div class="row">
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
  <div class="col-lg-4">
    <p>Some text</p>
    <a class="btn" href="#">More</a>
  </div>
</div>
