<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-lg-4">
      <p>ennie</p>
      <button type="button" class="btn" name="button"></button>
    </div>
    <div class="col-lg-4">
      <p>minnie</p>
      <button type="button" class="btn" name="button"></button>
    </div>
    <div class="col-lg-4">
      <p>mynie</p>
      <button type="button" class="btn" name="button"></button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>moe</p>
      <button type="button" class="btn" name="button"></button>
    </div>
    <div class="col-lg-4">
      <p>catch</p>
      <button type="button" class="btn" name="button"></button>
    </div>
    <div class="col-lg-4">
      <p>the tiger</p>
      <button type="button" class="btn" name="button"></button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>by</p>
      <button type="button" class="btn" name="button"></button>
    </div>
    <div class="col-lg-4">
      <p>the</p>
      <button type="button" class="btn" name="button"></button>
    </div>
    <div class="col-lg-4">
      <p>toe</p>
      <button type="button" class="btn" name="button"></button>
    </div>
  </div>
</div>
